.input-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 38px;
    border: 1px solid #D1D0D9;
    border-radius: 4px;
  }
  
  .input-wrapper .prefix  {
    position: absolute;
    left: 12px;
    font-size: 14px;
    color:#211F33;
  }

  .input-wrapper .suffix {
    position: absolute;
    font-size: 14px;
    color:#211F33;
    pointer-events: none;
    padding-right: 2px;
  }
  
  
  .input-wrapper input,.input-wrapper select {
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    color: #211F33;
    font-size: 14px;
    height: 38px;
    line-height: 21px;
    padding: 0 5px 0 12px;
    outline: none;
    width: fit-content;
  }
  
  .input-wrapper select {
    position: relative;
    font-size: 14px;
  }
  
  
  .input-wrapper input::placeholder {
    color: #88859E;
    font-weight: 100;
  }
  
  .search-icon {
    margin-left: 12px;
    height: 15px;
    width: 15px;
    color: #88859E;
  } 
  